body {
  background-color: rgb(214, 214, 211);
}
.is-colorMINT{
    color : white;
    background-color:  rgb(9, 188, 170)
}
.is-buttonMINT{
  padding: 20px 42px;
  color : white;
  border-radius: 15px;
  cursor: pointer;
  background-color:  rgb(9, 188, 170)
   
}
.is-buttonRED{
  padding: 20px 42px;
  color : white;
  border-radius: 15px;
  cursor: pointer;
  background-color:  rgb(201, 45, 57)
 
}


h2 {
  color:white;
  font-size: 30px;
}
p{
  color:black;
  margin-left: 50x;

}

.big-box-border{
  border: solid rgb(9, 188, 170) 1px; 
  border-radius: 5px

}
.is-button1{
  color : white;
  background-color:  rgb(9, 188, 170)
  
}
.is-button2{
  color : white;
  background-color: rgb(201, 45, 57)
  
}

.is-button3{
  color : white;
  background-color:  rgb(239, 141, 34)
  
}

#m72 {
  margin-left:72%;
}
#m5 {
  margin-left:5%;
}
#m3 {
  margin-left:3%;
}
#m22 {
  margin-left:22%;
}
#m18{
  margin-left:18%
}
#bg-colorWhite{
  background-color:  rgb(255, 255, 255);
}
#width100{
  width: 100%
}






