.exam-table {
    width: 100%;
    border-collapse: collapse;
}

.exam-table,.exam-table  td,.exam-table  th {
    border: none;
}
  
.exam-table {
    border-collapse: collapse;
    border-radius: 3px;
    width: 100%;
}
  
.exam-table th{
    height: 50px;
}

.exam-table td:not(:first-child) {
    border-left: 3px solid white;
}

.exam-table td {
    padding: 5px;
}

.exam-table tr:not(.is-header) {
    height: 30px;
    background-color: #f2f2f2;
}

.exam-table tr:not(.is-header):hover{ 
    background: #c7afdd; 
    color: white;
}

.exam-table thead{ 
    background: #906cb2 !important; 
    color: white;
}

.exam-table-item {
    cursor: pointer;
}