
.exam-schedule {
    width: 60%
}

.exam-schedule-item {
    padding: 0;

    border: 1px solid #e8e8e8;
    box-sizing: content-box;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
}

.exam-schedule-item:hover {
    cursor: pointer;
    background-color: #ededed;
}

.date-labels {
    padding: 10px;
    text-align: center;
    overflow: hidden;

    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exam-schedule-item .columns {
    min-height: 300px;
}

.date-labels h1 {
    font-size: 72px;
    margin: 0;
    margin-bottom: .5rem;
}

.date-labels h2 {
    font-size: 32px;
    margin: 0;
}

.date-labels h3 {
    font-size: 20px;
    margin: 0;
}

.exam-title {
    height: 50%;
    padding: 15px 50px;
    box-sizing: border-box;

    overflow: hidden;
}

.exam-title .columns {
    align-items: flex-start;
}

.exam-title .column {
    height: auto;
}

.exam-title .column:first-child {
    margin-right: 10px;
}

.exam-title .column.auto {
    flex: none;
    width: auto;
}

.exam-title h2 {
    font-size: 26px;
    margin: 0;

    overflow: hidden;
}

#subject-id {
    white-space: nowrap;
}

.exam-detail {
    height: 180px;
    margin: 0;
    box-sizing: border-box;
}

.exam-detail .box {
    max-height: 100%;
    margin: 0;
    overflow: hidden;
}

.exam-detail p {
    margin: 0;

    font-size: 18px;
    color: #6d389e;
}

.exam-date-box {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.exam-extend-detail {
    width: 800px;
}

.exam-extend-detail .box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exam-extend-detail .box-content h2 {
    color : #814ab5;
}

.exam-extend-detail .close-button {
    cursor: pointer;
}

.exam-extend-detail .close-button:hover {
    color: #dbdbdb;
}

.exam-detail-column {
    padding: 15px;
}

.small-detail-box {
    background-color: #cecece;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

@media screen and (max-width: 800px) {

    .exam-schedule {
        width: 100%;
    }

    .schedule-area {
        padding: 0;
    }

    .exam-schedule-item {
        margin: 0;
        padding: 5px;
    }

    .exam-schedule-item .columns {
        min-height: 100px;
    }

    .exam-schedule-item .column {
        height: 100px !important;
        padding: 3px;
    }

    .date-labels {
        padding: 0;
        display: block;
        height: inherit;
    }

    .date-labels h1 {
        font-size: 24px;
        margin: 5px;
    }

    .date-labels h2 {
        font-size: 12px;
    }

    .date-labels h3 {
        font-size: 14px;
    }

    #subject-name {
        font-size: 16px;
        margin: 3px;
    }

    .exam-detail {
        height: 70px;
        padding: 3px;
    }

    .exam-detail p {
        margin: 0;
    
        font-size: 8px;
        color: #6d389e;
    }

    .small-detail-box {
        margin: 3px 0;
        padding: 3px;
    }

    .exam-extend-detail {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
    }

    .exam-extend-detail .box .box-content {
        height: 70vh;
        overflow: scroll;
    }

    .exam-extend-detail .box-title p {
        font-size: 18px;
    }

    .exam-extend-detail h2 {
        font-size: 16px;
    }
}