.exam-create-screen {
    width: 70%;
}

.exam-create-screen .course-table-area {
    overflow-y: scroll;
    height: 500px;
    background-color: #e5e5e5;
}
.exam-create-screen .button-area .button:not(:first-child):not(:last-child) {
    margin-left: 30px;
    margin-right: 30px;
}

.exam-create-screen .input-set * {
    display: inline-block;
    margin: 5px 5px;
}

.exam-create-screen .paging-button-area {
    text-align: center;
    user-select: none;
}

.exam-create-screen .paging-button-area * {
    display: inline-block;
}