@import url("color.css");
/*@import url("mainNavBar.css");*/
/*@import url("mainMenuBar.css");*/

.main-screen {
    height: 100%;
}

.main-subcontent {
    padding: 5.25rem 2rem 2rem 14.5rem;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {

    .main-subcontent {
        padding: 5.25rem 2rem 2rem 2rem;
    }

    .main-menu {
        display: none;
        left: auto;
        right: 0;
    }

    .navbar-item.user {
        display: none;
    }

    .navbar-item.hamburger {
        display: block;
    }
}