.main-menu {
    background-color: #303030;
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 3.25rem;
}

.menu-space {
    height: 4rem;
}

.menu-list a {
    color: gainsboro;
    background-color: #232323;
    padding: 0.8rem 0.75rem;
}

.menu-icon {
    margin-right: 1rem;
}


.menu-list li ul {
    margin: 0;
    padding: 0;
    border-left: 5px solid #dbdbdb;
    font-size: 14px;
}

.dropdown-hide {
    display: none;
}

.dropdown-active {
    display: block;
}