.user-manage {
    width: 80%;
}
.user-mange-select-box{
    width: 180px;
    height: 32px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}
.user-mange-select-box-popUp{
    width: 100%;
    height: 32px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;

    box-sizing: border-box;
}
.user-tab-is-20 { 
    display:inline-block; 
    margin-left: 10px; 
}
.user-tab-is-40 { 
    display:inline-block; 
    margin-left: 40px; 
}
div.border-user-1{
    border:1px solid gray;
}
.user-column-table {
    margin-right: 20px;
   
}
.user-column-image {
    display: flex;
    justify-content: center;
}
.user-column-detail {
    border:3px solid #542f77;
    background-color: #c7afdd;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    
   
}
.column.is-user-popUp {
    width: 500px;
}

.p-inline{
    display:inline
}

.height50{
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-table,.user-table  td,.user-table  th {
    border: none;
}
  
.user-table {
    border-collapse: collapse;
    border-radius: 3px;
    width: 100%;
}
  
.user-table th{
    height: 50px;
}

.user-table td:not(:first-child) {
    border-left: 3px solid white;
}

.user-table td {
    padding: 5px;
}

.user-table tr:not(.is-header) {
    height: 30px;
    background-color: #f2f2f2;
}

.user-table tr:not(.is-header):hover{ 
    background: #c7afdd; 
    color: white;
}

.user-table thead{ 
    background: #906cb2 !important; 
    color: white;
}

.input.is-userName-width {
    width: 370px;
}
.input.is-userId-width {
    width: 180px;
}
.margin-user-popUp{
  margin-left: 150px;
}

.margin-user-popUp-1{
  margin-left: 100px;
}

.user-table-item {
    cursor: pointer;
}

.user-table-item.is-active {
    background-color: #c7afdd !important; 
    color: white;
}

.input-div {
    padding: 5px;
    word-break: break-all;
}

.input-div .input {
    box-sizing: border-box;
    padding: 5px;
}

.input-with-text {
    display: inline-block;
    margin: 3px 5px;
}

.user-manage-box {
    min-height: 80vh;
}